:host zxing-scanner::ng-deep {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

::ng-deep video {
  height: 85vh !important;
  width: 100% !important;
}

#retourArrow {
  z-index: 2;
  margin-top: 9%;
  margin-left: 2%;
}

::ng-deep #infos{
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding: 0.5em;
  background-color: #ffffff;
}

::ng-deep ul li span {
  width: 50% !important;
}

::ng-deep .detailArticle li {
  display: flex;
  padding: 0.3em 0;
  border-bottom: 1px solid #d8d8d8;
}
