::ng-deep .mat-expansion-indicator::after {
  display: none !important;
}

#toolbar-inventaire {
  color: white;
}

#nno-info {
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

#nombre-manquant {
  font-size: 1.4em;
  margin-right: 5px;
}

.inventaire-item {
  position: relative;
  border: 5px solid transparent;
  border-radius: 0.25rem;
  border-color: #f9f9f9;
}

.inventaire-item-valide {
  position: relative;
  border: 5px solid transparent;
  border-radius: 0.25rem;
  color: #155724;
  background-color: #d4edda !important;
  border-color: #c3e6cb;
}

.inventaire-item-nouveau {
  position: relative;
  border: 5px solid transparent;
  border-radius: 0.25rem;
  color: #856404;
  background-color: #fff3cd !important;
  border-color: #ffeeba;
}

.nouveau {
  color: #856404;
  background-color: #fff3cd !important;
  border-color: #ffeeba;
}

.valide {
  color: #155724;
  background-color: #d4edda !important;
  border-color: #c3e6cb;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  padding-left: 12%;
  display: flex;
  justify-content: space-between;
  margin-right: 8%;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 0px 0px !important;
}

.mat-list-base {
  padding-top: 0px;
}

::ng-deep .mat-content {
  align-items: center;
  height: 100%;
}

#numserie {
  font-size: 0.8em;
  color: #c5bebe;
}

.mat-expansion-panel-header-title {
  width: 49%;
}

#iconeQrcode{
  height: 2rem;
  margin-top: -4px;
}

#goToScanner{
  position: fixed;
  bottom: 10%;
  right: 4%;
}
