<mat-toolbar id="toolbar-inventaire">
  <h1>Inventaire en cours </h1>


    <button mat-fab id="goToScanner" [routerLink]="['/inventaire/scanner']">
      <img id='iconeQrcode' src='../../../assets/img/QRCODE.png' alt='qrcode' />
  </button>
  <button mat-fab id="goToPrint" [useExistingCss]="true" printSectionId="print-section" ngxPrint> <mat-icon
    aria-label="print">print</mat-icon>
  </button>  <!-- print button inventaire-->
 </mat-toolbar>

<div id="print-section" >
  <h3>Détention: {{detention()}} </h3>
<mat-accordion [multi]="true">
  <mat-expansion-panel *ngFor="let nno of affichageData | keyvalue">
    <mat-expansion-panel-header [ngClass]="{
      'inventaire-item' : compteManquant(nno.value)!==0 && compteNouveau(nno.value)===0,
      'inventaire-item-valide' : compteManquant(nno.value)===0 && compteNouveau(nno.value)===0,
      'inventaire-item-nouveau' : compteNouveau(nno.value)>0
    }">
      <mat-panel-title>
        <span matBadge="{{compteNouveau(nno.value)}}" matBadgeColor="warn"
          [matBadgeHidden]="compteNouveau(nno.value)===0" matBadgeOverlap="false">{{nno.value[0].lib}}</span>
      </mat-panel-title>
      <mat-panel-description id="nno-info">
        {{nno.key}}
      </mat-panel-description>
      <mat-icon *ngIf="compteManquant(nno.value)==0; else missBlock">check_circle_outline</mat-icon>
      <ng-template #missBlock>
        <div id="nombre-manquant">{{compteManquant(nno.value)}}</div>
      </ng-template>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item [routerLink]="['/inventaire/article']" *ngFor="let article of nno.value"
        (click)="onSubmit(article)" [ngClass]="{
      'valide' : scanne(article),
      'nouveau' : nouveau(article)
    }">
        <span>{{article.numref}}</span>
        <span id="numserie" *ngIf="article.numser !== null">{{article.numser}}</span>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

</div>
