<mat-sidenav-container class="my-container">

  <mat-sidenav id="slider-inventaire" #sidenav [attr.role]="(mobile) ? 'dialog' : 'navigation'"
    [mode]="(mobile) ? 'over' : 'side'" [opened]="false">

    <mat-toolbar>
      <mat-toolbar-row>
        <div fxFlex fxLayoutAlign="space-between center">
          <h2 class="toolbar-title">Options Inventaire</h2>
          <button mat-icon-button (click)="sidenav.close()">
            <mat-icon matListIcon>close</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list class="menu-link">
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-inventaire">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
