@import 'src/theme.scss';

$warn: map-get($custom-theme, warn);

.my-footbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: mat-color($warn);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-footbar :nth-child(1n) {
  height: 100%;
  width: auto;
}

.my-footbar a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.my-footbar a mat-icon {
  margin-left: -0.4em;
  font-size: 2.3em;
}
