@import 'src/theme.scss';

$primary: map-get($custom-theme, primary);

.header-page {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}
.header-page button {
  padding: 0;
  margin: 8px;
}

.header-page h1 {
  font-weight: 300;
  margin-left: 15px;
  padding: 28px 8px;
  font-size: 20px;
  font-weight: 300;
}
