<mat-sidenav-container class="my-container">

  <mat-sidenav #sidenav [attr.role]="(mobile) ? 'dialog' : 'navigation'" [mode]="(mobile) ? 'over' : 'side'"
    [opened]="false">

    <mat-toolbar>
      <mat-toolbar-row>
        <div fxFlex fxLayoutAlign="space-between center">
          <h2 class="toolbar-title">Menu</h2>
          <button mat-icon-button (click)="sidenav.close()">
            <mat-icon matListIcon>close</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list class="menu-link">


    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
