
<br>
<div id="ident" class="container" >
  <mat-label>Reference MAGMA</mat-label>
 <textarea [(ngModel)] = "value"> </textarea> <!-- text for qrcode generator-->

<div id="print-section" >
  <ngx-qrcode
  [elementType]="elementType"
  [errorCorrectionLevel]="correctionLevel"
  [value]="value"
  ></ngx-qrcode>  <!-- qrcode generator-->
</div>
<br>

<button [useExistingCss]="true" printSectionId="print-section" ngxPrint> <mat-icon
 aria-label="print">print</mat-icon></button>  <!--Your relevant print button-->

</div>
